<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список авторов</title>
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div th:replace="fragments/menu.html :: menu"></div>

    <h3>Авторы</h3>

    <div class="filter">
        <form id="filter-form" action="list.html" method="get">
            <div class="row">
                <label for="author-id-input">Код(ы)</label>
                <input id="author-id-input" name="authorIds" type="text"/>
            </div>

            <div class="row">
                <label for="name-input">Имя</label>
                <input id="name-input" name="name" type="text"/>
            </div>

            <div class="row">
                <button type="submit">Поиск</button>
                <a href="add.html" th:href="@{/authors/add}">
                    <button type="button">Создать</button>
                </a>
            </div>
        </form>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script>
        function getAuthors() {
            $.ajax({
                url: '/api/authors',
                data: $('#filter-form').serialize()
            }).done(function(authors) {
                $('tbody').empty();
                authors.forEach(function(author) {
                    $('tbody').append(`
                        <tr>
                            <td>
                                <a href="/authors/${author.authorId.authorId}">${author.authorId.authorId}</a>
                            </td>
                            <td>
                                <a href="/authors/${author.authorId.authorId}">${author.lastname}</a>
                            </td>
                            <td>
                                <a href="/authors/${author.authorId.authorId}">${author.firstname}</a>
                            </td>
                        </tr>
                    `);
                });
            })
        }

        $('#filter-form').on('submit', function(e) {
            e.preventDefault();
            getAuthors();
        });

        $(function() {
            getAuthors();
        });
    </script>
</body>
</html>