<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактировать отзыв</title>
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
    <body>
        <div th:replace="fragments/menu.html :: menu"></div>

        <form id="edit-form" action="edit.html" th:method="post" th:object="${bookReview}">
            <h3>Отзыв:</h3>
            <div class="row">
                <label for="book-review-id-input">Код</label>
                <input id="book-review-id-input" name="bookReviewId" type="text" disabled="disabled" value="1" th:value="*{{bookReviewId}}"/>
            </div>

            <div class="row">
                <label for="book-title-input">Книга</label>
                <label id="book-title-input" th:text="*{bookTitle}">А.С. Пушкин. Евгений Онегин</label>
            </div>

            <div class="row">
                <label for="reviewer-name-input">Автор отзыва</label>
                <input id="reviewer-name-input" name="reviewerName" type="text" value="Дантес" th:value="*{reviewerName}"/>
            </div>

            <div class="row">
                <label for="rating-input">Оценка</label>
                <input id="rating-input" name="rating" type="number" min="1" max="10" value="2" th:value="*{rating}"/>
            </div>

            <div class="row">
                <label for="comment-input">Комментарий</label>
                <input id="comment-input" name="comment" type="text" th:value="*{comment}"/>
            </div>

            <div class="row">
                <p class="errors" th:if="${#fields.hasErrors('all')}" th:errors="*{all}">Ошибка</p>
            </div>

            <div class="row">
                <button type="submit" th:formaction="@{/books/{bookId}/reviews/{reviewId}(bookId=*{{bookId}},reviewId=*{{bookReviewId}})}">Сохранить</button>
                <button type="submit" th:formaction="@{/books/{bookId}/reviews/{reviewId}/remove(bookId=*{{bookId}},reviewId=*{{bookReviewId}})}">Удалить</button>
                <a href="list.html" th:href="@{/books/{id}/reviews(id=*{{bookId}})}">
                    <button type="button">Отмена</button>
                </a>
            </div>
        </form>
    </body>
</html>
