<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvReader" class="ru.otus.spring.util.csv.ResourceCSVReader">
        <constructor-arg name="csvLocation" value="questionnaire.csv"/>
    </bean>

    <bean id="questionDao" class="ru.otus.spring.dao.QuestionDaoCSV">
        <constructor-arg name="csvReader" ref="csvReader"/>
    </bean>

    <bean id="questionService" class="ru.otus.spring.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDao" />
    </bean>

    <bean id="printQuestionService" class="ru.otus.spring.service.PrintQuestionServiceImpl">
    </bean>

    <bean id="quizService" class="ru.otus.spring.service.QuizServiceImpl">
        <constructor-arg name="questionService" ref="questionService" />
        <constructor-arg name="printQuestionService" ref="printQuestionService" />
    </bean>
</beans>
